{% extends 'layouts/base.html.twig' %}

{% block body %}
	<div class="content-wrapper">
		<section class="content-header">
			<div class="container">
				<div class="row mb-2">
					<div class="col-sm-12">
						<h1>Profile</h1>
					</div>

				</div>
			</div>
			<!-- /.container-fluid -->
		</section>

		<div class="content">
			<div class="container">
				<div class="row">


					<div class="col-md-3">

						<div class="card card-primary card-outline">
							<div class="card-body box-profile">
								<div class="text-center">
									<img class="profile-user-img img-fluid img-circle" src="/dist/img/avatar4.png" alt="User profile picture">
								</div>

								<h3 class="profile-username text-center">{{ employee.fullName }}</h3>

								<p class="text-muted text-center">{{ employee.job.name }}</p>

								<ul class="list-group list-group-unbordered mb-3">
									<li class="list-group-item">
										<b>Salaire</b>
										<a class="float-right">{{ employee.salary }}</a>
									</li>
									<li class="list-group-item">
										<b>Sex</b>
										<a class="float-right">{{ employee.sex }}</a>
									</li>
									<li class="list-group-item">
										<b>Date d'embauche</b>
										<a class="float-right">{{ employee.takenAt | date('Y-m-d') }}</a>
									</li>
								</ul>

								<a href="#" class="btn btn-primary btn-block">
									<b>Ajouter une tache</b>
								</a>
							</div>
						</div>
						<div class="card card-success">
							<div class="card-header">
								<h3 class="card-title">A propos</h3>
							</div>
							<div class="card-body">
								<strong>
									<i class="fas fa-book mr-1"></i>
									Experiences</strong>

								<p class="text-muted">
									<span>{{ employee.experiences }}</span>
								</p>

								<hr>

								<strong>
									<i class="fas fa-pencil-alt mr-1"></i>
									Skills</strong>

								<p class="text-muted">
									<span>{{ employee.skills }}</span>
								</p>
								<hr>
							</div>
						</div>
					</div>

					<div class="col-md-9">
						<div class="card card-primary card-outline">
							<div class="card-header">
								<h3 class="card-title">Ses Taches</h3>
								<div class="card-tools">
									<div class="input-group input-group-sm" style="width: 350px;">
										<input type="text" name="table_search" class="form-control float-right" placeholder="Search">

										<div class="input-group-append">
											<button type="submit" class="btn btn-default">
												<i class="fas fa-search"></i>
											</button>
										</div>
									</div>
								</div>
							</div>
							<div class="card-body">
								<table class="table table-bordered table-hover table-striped">
									<thead>
										<tr>
											<th>Sujet</th>
											<th>D-C</th>
											<th>D-F</th>
											<th>Finie</th>
											<th>Progression</th>
											<th>options</th>
										</tr>
									</thead>
									<tbody>
										{% for task in tasks %}
											<tr>
												<td>{{ task.subject | u.truncate(15, '...')}}</td>
												<td>{{ task.beginAt | date('Y-m-d h:i:s')}}</td>
												<td>{{ task.endAt | date('Y-m-d h:i:s')}}</td>
												<td>{{ (task.isComplished) ? 'Oui' : 'Non' }}</td>
												<td>{{ (task.IsInProgress) ? 'Oui' : 'Non' }}</td>
												<td>
													<a class="btn btn-sm btn-primary" href="#">
														<i class="fas fa-folder"></i>
													</a>

													<a class="btn btn-sm btn-info" href="#">
														<i class="fas fa-edit"></i>
													</a>
												</td>
											</tr>
										{% else %}
											<tr>
												<td colspan="6">Aucune donnees trouvees</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
							<div class="card-footer">
								<div class="card-tools float-right">
									{% do tasks.setPageRange(2) %}
									{{ knp_pagination_render(tasks, "layouts/partials/_pagination.html.twig") }}
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	{% endblock %}
